
/* Your CSS Code here. */
h1{
	text-align :center;
	background-color: pink
}

#image{
	margin-left: auto;
  margin-right: auto;
	
	width: 500px
}

a{
	color: black;
	background-color: greenyellow
}

#skills{
	background-color: grey;
	color: white;
}

#projects{
	background-color: lightcyan;
	color: black;
}